// ----- Layout can use predefined modules to build page layout. It is also for declaring structural elements and custom classes.
// ------------------------------------------------------------------------------------------------------

body.dark {
	background-color: $body-bg;
	color: white;
}



// Layout containers
// ------------------------------------------------------------------------------------------------------

.wrapper {
	position: relative;
	margin: 0 auto;
	max-width: $content-max-width;
	padding: 0 2%;
	box-sizing: border-box;
	/* embed clearfix */
	zoom: 1;
	
	&:before, &:after {
		content: "";
		display: table;
	}
	
				
	&:after { 
		clear: both;
	}

}


// Width overrides

.wrapper__mobile {
	max-width: $break-small;
}	


// Header
// ------------------------------------------------------------------------------------------------------

header {
	position: relative;
	margin-bottom: 10px;
	height: 170px;
	font-family: $font-heading;

	.header__feature {
		span {
			border: 0;
			clip: rect(0 0 0 0);
			height: 1px;
			margin: -1px;
			overflow: hidden;
			padding: 0;
			position: absolute;
			width: 1px;
		}
	}
}

body.dark header {
  background: $body-bg url(../img/bg-waves.svg) no-repeat top left;
  background-size: cover;
}

.sub-brand {
	float: right;

	a, a:link, a:visited {
		display: inline-block;
		margin: 20px 0 0 0;
		background: transparent;
		color: black; // $brand-blue;
		text-decoration: none;
	}
	a:hover, a:focus, a:active {
		background: transparent;
		color: black;
		text-decoration: underline;
	}
}

body.dark .sub-brand {
	a, a:link, a:visited {
		margin: 30px 0 0 0;
		color: white;
	}
	a:hover, a:focus, a:active {
		background: transparent;
		color: white;
		text-decoration: underline;
	}
}

.gov {
	margin-top: 30px;

	span {
		border: 0;
		clip: rect(0 0 0 0);
		height: 1px;
		margin: -1px;
		overflow: hidden;
		padding: 0;
		position: absolute;
		width: 1px;
	}
	a, a:link, a:visited {
		background: transparent url(../img/header-logo.png) no-repeat 0 0;
		display: block;
		width: 235px;
		height: 46px;
		background-size: cover;
		margin-top: 0;
	}
}
body.dark .gov {
	margin-top: 20px;
	a, a:link, a:visited {
		background: transparent url(../img/header-logo-white.png) no-repeat 0 0;
		display: block;
		width: 235px;
		height: 46px;
		background-size: cover;
		margin-top: 0;
	}
}

.nav__title {
			padding: 0 1rem 0 1.8rem;
			font-family: $font-heading;

}
nav {
	clear: both;
	margin: 0;
	width: 100%;

	@media only screen and (min-width: $break-medium) {
		float: left;
		width: 220px;
	}


	ul {
    display: block;
    list-style-type: none;
    margin: 0;
    padding: 0;
 	}
 	li {
		display: block;
		border-top: 1px solid $gray;
		list-style-type: none;
		margin: 0;
		padding: 0;

		ul {
			display: none;
		}

		a, a:link, a:visited {
			border: none;
			color: $gray;
			display: block;
			line-height: 1.3;
			padding: 0.75rem 1rem 0.75rem 1.8rem;
			text-decoration: none;
		}
		a:hover, a:focus, a:active {
			color: white;
		}
		a.nav--current {
			background-color: #f7f5f2;
			color: $brand-blue;
			font-family: $font-heading;
		}

	 	&:first-child {
    	border-top: none;
		}

		ul.nav__sub-list {

			li {
		    border: none;
		    font-size: 1rem;
			}
			&:last-child {
				padding-bottom: 0.75rem;
			}
			a, a:link, a:visited {
				line-height: 1.3;
				padding: 0.5rem 1rem 0.5rem 2.5rem;
			}				
		}
	}
}

.is--visible {
	display: block;
}

// Fix nav on scroll

.fixed {
	position: relative;

	@media only screen and (min-width: $break-medium) {
		position: fixed;
		top: 30px;
	}
}



.main__2-column {
	position: relative;

		@media only screen and (min-width: $break-medium) {
			position: absolute;
			left: 28%;
			width: 70%;
			margin-top: -180px;
	}
}

.main__1-column {

	h1 {
		font-family: $font-light;
		font-size: 2.5rem;
		padding: 0 0 0.25em 0;
		margin-top: 0.5em;
	}
}

// Big buttons on provider menu screen

.card-container {
	margin-top: 1em;
}
a.card, a.card:link, a.card:visited {
	-webkit-border-radius: 4px;
	border-radius: 4px;
	line-height: 1.3;
	padding: 1rem 1rem;
	display: block;
	background-color: $brand-blue;
	color: white;
	text-decoration: none;
	font-style: 1.2rem;
	text-align: center;
	margin: 0 0 1em 0;
}
a.card img {
	max-width: 100px;
	margin: 0 auto 0.5em auto;
}
a.card:hover {
	background-color: black;
}
@media only screen and (min-width: $break-large) {
	a.card, a.card:link, a.card:visited {
		padding: 3rem 2rem;
		margin: 0 0 2em 0;
	}
}
.right {
	text-align: right;
}