// ----- Modules are reusable components or classes that are called from multiple places in the application.
// ------------------------------------------------------------------------------------------------------


// Yellow fade

/* Yellow animated fade */

@-webkit-keyframes fade { from {background-color: $yellow-fade;} to {background-color: $gray-bg;} }
@-moz-keyframes fade { from {background-color: $yellow-fade;} to {background-color: $gray-bg;} }
@keyframes fade { from {background-color: $yellow-fade;} to {background-color: $gray-bg;} }

@-webkit-keyframes fade-inherit { from {background-color: $yellow-fade;} to {background-color: inherit;} }
@-moz-keyframes fade-inherit { from {background-color: $yellow-fade;} to {background-color: inherit;} }
@keyframes fade-inherit { from {background-color: $yellow-fade;} to {background-color: inherit;} }

.fade-in {
    background-color: $gray-bg;
    -webkit-animation-name: fade;
    -moz-animation-name: fade;
    animation-name: fade;
    -webkit-animation-duration: 1.5s;
    -moz-animation-duration: 1.5s;
    animation-duration: 1.5s;
    -webkit-animation-timing-function: ease-in;
    -moz-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
}
.fade-in-inherit {
    background-color: transparent;
    -webkit-animation-name: fade-inherit;
    -moz-animation-name: fade-inherit;
    animation-name: fade-inherit;  
}


// Helper classes

.centred {
	text-align: center;
}
a.white, a.white:link, a.white:visited {
    color: white;
}
.clearfix { 
	
	&:before, &:after {
		content: "";
		display: table;
	}

	&:after { 
		clear: both 
	}

	zoom: 1;
}
.legend-size {
	font-size: 140%;
}


.smaller, .disclaimer {
  font-size: $smaller;
}
.disclaimer {
    text-align: center;
    margin-top: 3em;
    color: #ccc;

        a, a:link, a:visited {
        color: #ccc;
    }
}
.smallest {
  font-size: $smallest;
}
.visuallyhidden,
img.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;

	&.focusable {
	
		&:focus, &:active {
			clip: auto;
			height: auto;
			margin: 0;
			overflow: visible;
			position: static;
			width: auto;
		}
	}
}

.nowrap {
  white-space: nowrap;
}



// Print

.print {
	
	a, a:link, a:visited {
		
		display: none;

		@media only screen and (min-width: $break-medium) {
			background: transparent url(../img/sprite-print.png) no-repeat 7px 5px;
			display: inline-block;
			-moz-border-radius: 6px;
			-webkit-border-radius: 6px;
			border-radius: 6px;
			float: right;
			padding: 8px 7px 15px 53px;
			margin-top: -90px;
		}
	}

	a:hover, a:active, a:focus {
		background: black url(../img/sprite-print.png) no-repeat 7px -108px;
	}
}


// Responsive video

.video-container,
.iframe-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
  margin: 1em 0 1em 0;
}
.iframe-container {
  padding-bottom: 35em;
}
.video-container iframe, 
.video-container object, 
.video-container embed, 
.iframe-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

// Modal confirmation message
// ------------------------------------------------------------------------------------------------------

.vashadow {
    background-color: black;
    opacity: 0.6;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height:100%;
}

.vadialog {
    background: white;
    border-radius: 10px;
    display: none;
    position: fixed;
    left:50%;
    top:50%;
    padding: 35px 40px 40px 40px;
    width: 400px;

    h1 {
        font-size: 130%;
        margin: 0;
        padding: 0 0 10px 0;
    }
    li {
        color: black;
    }
}

.vaCloseButton {
    float:right;
    color:#999999;
    border:none;
    /*padding:0;
    margin-right:-20px;
    margin-top:0;*/
    position: absolute;
    right: 10px;
    top: 27px;
    background: white;
    cursor:pointer;

    &:focus{
        outline:2px solid #999999;
    }
}

.vaOffscreen{
    position:absolute;
    left:-9999px;
}
