// ----- Modules are reusable components or classes that are called from multiple places in the application.
// ------------------------------------------------------------------------------------------------------


// Yellow fade

/* Yellow animated fade */

@-webkit-keyframes fade { from {background-color: $yellow-fade;} to {background-color: $gray-bg;} }
@-moz-keyframes fade { from {background-color: $yellow-fade;} to {background-color: $gray-bg;} }
@keyframes fade { from {background-color: $yellow-fade;} to {background-color: $gray-bg;} }

@-webkit-keyframes fade-inherit { from {background-color: $yellow-fade;} to {background-color: inherit;} }
@-moz-keyframes fade-inherit { from {background-color: $yellow-fade;} to {background-color: inherit;} }
@keyframes fade-inherit { from {background-color: $yellow-fade;} to {background-color: inherit;} }

.fade-in {
    background-color: $gray-bg;
    -webkit-animation-name: fade;
    -moz-animation-name: fade;
    animation-name: fade;
    -webkit-animation-duration: 1.5s;
    -moz-animation-duration: 1.5s;
    animation-duration: 1.5s;
    -webkit-animation-timing-function: ease-in;
    -moz-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
}
.fade-in-inherit {
    background-color: transparent;
    -webkit-animation-name: fade-inherit;
    -moz-animation-name: fade-inherit;
    animation-name: fade-inherit;  
}


// Helper classes

.centred {
	text-align: center;
}
a.white, a.white:link, a.white:visited {
    color: white;
}
.clearfix { 
	
	&:before, &:after {
		content: "";
		display: table;
	}

	&:after { 
		clear: both 
	}

	zoom: 1;
}
.legend-size {
	font-size: 140%;
}


.smaller, .disclaimer {
  font-size: $smaller;
}
.disclaimer {
    text-align: center;
    margin-top: 3em;
    color: #ccc;

        a, a:link, a:visited {
        color: #ccc;
    }
}
.smallest {
  font-size: $smallest;
}
.visuallyhidden,
img.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;

	&.focusable {
	
		&:focus, &:active {
			clip: auto;
			height: auto;
			margin: 0;
			overflow: visible;
			position: static;
			width: auto;
		}
	}
}

.nowrap {
  white-space: nowrap;
}



// Print

.print {
	
	a, a:link, a:visited {
		
		display: none;

		@media only screen and (min-width: $break-medium) {
			background: transparent url(../img/sprite-print.png) no-repeat 7px 5px;
			display: inline-block;
			-moz-border-radius: 6px;
			-webkit-border-radius: 6px;
			border-radius: 6px;
			float: right;
			padding: 8px 7px 15px 53px;
			margin-top: -90px;
		}
	}

	a:hover, a:active, a:focus {
		background: black url(../img/sprite-print.png) no-repeat 7px -108px;
	}
}


// Responsive video

.video-container,
.iframe-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
  margin: 1em 0 1em 0;
}
.iframe-container {
  padding-bottom: 35em;
}
.video-container iframe, 
.video-container object, 
.video-container embed, 
.iframe-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

// Modal confirmation message
// ------------------------------------------------------------------------------------------------------

.vashadow {
    background-color: black;
    opacity: 0.6;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height:100%;
}

.vadialog {
    background: white;
    border-radius: 10px;
    display: none;
    position: fixed;
    left:50%;
    top:50%;
    padding: 35px 40px 40px 40px;
    width: 400px;

    h1 {
        font-size: 130%;
        margin: 0;
        padding: 0 0 10px 0;
    }
    li {
        color: black;
    }
}

.vaCloseButton {
    float:right;
    color:#999999;
    border:none;
    /*padding:0;
    margin-right:-20px;
    margin-top:0;*/
    position: absolute;
    right: 10px;
    top: 27px;
    background: white;
    cursor:pointer;

    &:focus{
        outline:2px solid #999999;
    }
}

.vaOffscreen{
    position:absolute;
    left:-9999px;
}

// Table sorter plugin

table.tablesorter thead tr .header {
    background-image: url(../img/bg.gif);
    background-repeat: no-repeat;
    background-position: center left;
    cursor: pointer;
}
table.tablesorter thead tr .headerSortUp {
    background-image: url(../img/asc.gif);
}
table.tablesorter thead tr .headerSortDown {
    background-image: url(../img/desc.gif);
}


// Confirmation cards

.card__container {
    -webkit-box-shadow: 2px 2px 3px 0 rgba(0,0,0,0.2);
    box-shadow: 2px 2px 3px 0 rgba(0,0,0,0.2);
    background-color: white;
    color: black;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    border-left: 12px solid $brand-blue;
    padding: 1em 0.5em 0 0.5em;
    width: 95%;
    margin: 1em 0;
    display: table;
    min-height: 225px;
    position: relative;

    .card__row {
        display: table-row;
    }

    .card__date {
        display: table-cell;
        text-align: center;
        text-transform: uppercase;
        border-right: 1px solid $gray-bg; 
        width: 20%;       
        font-size: 1.1rem;
        .card__time {
            margin-top: 2em;
            color: #666;
        }
        strong {
            font-size: 2rem;
        }
    }
    .card__details {
        display: table-cell;
        padding: 0 2em;
        width: 80%;
        .large {
            font-size: 1.5rem;
        }
        .small {
            clear: both;
            font-size: 1.1rem;
        }
    }
}

// Sliding toggle switches
// Sourced and modified from http://callmenick.com/post/css-toggle-switch-examples


/* ============================================================
  COMMON
============================================================ */
.cmn-toggle {
  position: absolute;
  margin-left: -9999px;
  visibility: hidden;
}
.cmn-toggle + label {
  display: block;
  position: relative;
  cursor: pointer;
  outline: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* ============================================================
  SWITCH 1 - ROUND
============================================================ */
input.cmn-toggle-round + label {
  padding: 2px;
  width: 120px;
  height: 60px;
  background-color: #dddddd;
  -webkit-border-radius: 60px;
  -moz-border-radius: 60px;
  -ms-border-radius: 60px;
  -o-border-radius: 60px;
  border-radius: 60px;
}
input.cmn-toggle-round + label:before, input.cmn-toggle-round + label:after {
  display: block;
  position: absolute;
  top: 1px;
  left: 1px;
  bottom: 1px;
  content: "";
}
input.cmn-toggle-round + label:before {
  right: 1px;
  background-color: #f1f1f1;
  -webkit-border-radius: 60px;
  -moz-border-radius: 60px;
  -ms-border-radius: 60px;
  -o-border-radius: 60px;
  border-radius: 60px;
  -webkit-transition: background 0.4s;
  -moz-transition: background 0.4s;
  -o-transition: background 0.4s;
  transition: background 0.4s;
}
input.cmn-toggle-round + label:after {
  width: 58px;
  background-color: #fff;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
  border-radius: 100%;
  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  -webkit-transition: margin 0.4s;
  -moz-transition: margin 0.4s;
  -o-transition: margin 0.4s;
  transition: margin 0.4s;
}
input.cmn-toggle-round:checked + label:before {
  background-color: $green;
}
input.cmn-toggle-round:checked + label:after {
  margin-left: 60px;
}
