// LAYOUT
// Styling overrides for Education Childcare Attendance
// ------------------------------------------------------------------------------------------------------


// Double columns for family login screen

@include breakpoint(medium) {
    .family-login-left,
    .family-login-right {
        float: left;
    }
    .family-login-right {
        margin-left: 2em;
    }
    .clear {
        clear: both;
    }
}


// Education branding

h1 {
    font-weight: 400;
}
.govau--header {
    background-color: $edu-primary;
    padding: 1em 0 0 0;
}
.govau--logo {
    p {
        padding: 0.25em 0 0 0;
        margin: 0;
    }
    .user {
        margin: 0 0 1em 0;
    }
    .logo {
        text-transform: none;
        letter-spacing: 0;
        font-weight: 400;
        @include breakpoint(tiny) {
            @include font-size(10);
        }
        @include breakpoint(small) {
            @include font-size(11);
        }
        @include breakpoint(medium) {
            @include font-size(14);
        }
        @include breakpoint(large) { 
            @include font-size(16);
        }
    }
}
.wrapper {
    min-width: 0 !important;
}
@include breakpoint(medium) {
    body {
        background: white url(../img/bg-curves.png) no-repeat 50% 0;
    }
    main {
        background-color: white;
        -webkit-border-radius: 3px 3px 0 0;
        border-radius: 3px 3px 0 0;
        background: -moz-linear-gradient(top, $edu-light-bg 0%, #ffffff 60%);
        background: -webkit-linear-gradient(top, $edu-light-bg 0%, #ffffff 60%);
        background: linear-gradient(to bottom, $edu-light-bg 0%, #ffffff 60%);
    }
    .govau--header {
        background-color: transparent;
        padding: 1em 0 2em 0;
        .wrapper {
            padding: 0;            
        }
    }
    .govau--logo {
        background: transparent url(../img/edu-logo-inline.png) no-repeat 0 0;
        height: 60px;
        width: 100%;
        position: relative;
        p {
            padding: 0.25em 0 0 0;
            position: absolute;
            right: 0;
        }
        .user {
            margin: 2em 0 0 0;
        }
    }
}


// Remove space in header for unauthenticated sessions (no login details under heading)

body.unauthenticated {
    .govau--logo {
        p {
            padding: 0.25em 0 1.25em 0;
        }
    }    
    @include breakpoint(medium) {
        .govau--logo {
            p {
                padding: 1.25em 0 0 0;
            }
        }
    }
}


form .hint {
    font-size: 1rem;
}
main {
    padding: 2em 1em 0 1em;
    @include breakpoint(medium) {
        padding-top: 3.2em;
    }
}
.content-main p {
    max-width: none;
}
main>article a {
    color: $edu-primary;
    text-decoration: none;
    border-bottom: solid 1px $edu-primary;
}
main>article a:hover, main>article a:focus {
    background-color: white;
    color: black;
}
.wrapper {
    padding: 0 1em;
}



// login screens

.form--admin, .form--family {
    -webkit-box-shadow: 0 0 8px 0 rgba(0,0,0,.4);
    box-shadow: 0 0 8px 0 rgba(0,0,0,.4);
    input {
        max-width: $form-max-width;
    }
    .input-phone {
        max-width: 10em;
    }
    .input-pin {
        max-width: 3em;
    }
}

body.unauthenticated {
    .form--admin, .form--family {
        -webkit-box-shadow: none;
        box-shadow: none;
    }
}


// reduce padding on main

main .content-main {
    @include breakpoint(medium) {
        padding: 2em 1em 2em 0;
        width: 72%;
    }
}

body.attendance {
    main {
        &.wrapper {
            padding: 2em 1em 0 1em;
        }
    }
}


// attendance--header override styling for attendance dashboard screens

.attendance--header {
    background-color: $edu-secondary;
    padding: 1em 0;
    .wrapper {
        min-height: 50px;
        color: $edu-gray-dark;
        .logo {
            color: $edu-gray-dark;
            text-transform: none;
            line-height: 1.2em;
            letter-spacing: -1px;
            @include breakpoint(tiny) {
                @include font-size(10);
            }
            @include breakpoint(small) {
                @include font-size(14);
            }
            @include breakpoint(medium) {
                @include font-size(18);
            }
            @include breakpoint(large) { 
                @include font-size(24);
            }
        }
    }
    @include breakpoint(medium) {
        .wrapper {
            background: transparent url(../img/feature.png) no-repeat 1em 0;
            padding-left: $doublecol-leftcol;
            min-height: 210px;
        }
    }
}



// attendance-status sits underneath header on attendance dashboard and provides
// data such as time and enrollment numbers

.attendance-status {
    padding: 0 0 0.5em 0;
    .wrapper {
        padding: 0;
    }
    @include breakpoint(medium) {
        padding: 0 0 0.5em 1em;
    }
}
.attendance-status-item {
    color: $edu-gray-dark;
    float: left;
    margin: 0.5em 0.5em 0 0;
    @include breakpoint(medium) {
        text-align: center;
        margin: 0.5em 2em 0 0;
        width: 18%;
    }
    @include breakpoint(large) {
        margin: 0.5em 3em 0 0;
    }
    span {
        display: block;
        border-bottom: 2px solid $edu-secondary;
        line-height: 3rem;
        @include breakpoint(tiny) {
            @include font-size(8);
        }
        @include breakpoint(small) {
            @include font-size(9);
        }
        @include breakpoint(medium) {
            @include font-size(10);
        }
        @include breakpoint(large) { 
            @include font-size(11);
        }
    }
    strong {
        font-weight: 400;
        @include breakpoint(tiny) {
            @include font-size(10);
        }
        @include breakpoint(small) {
            @include font-size(14);
        }
        @include breakpoint(medium) {
            @include font-size(18);
        }
        @include breakpoint(large) { 
            @include font-size(22);
        }
    }
}
.attendance-time {
    margin-right: 0;
    p {
        font-weight: 100;
        text-transform: uppercase;
        line-height: 0.25em;
        margin: 0 1em 0 0;
        @include font-size(18);
        display: block;
        @include breakpoint(medium) {
            margin: 0.75em 1em 0 0;
            line-height: 0.75em;
            width: $doublecol-leftcol - 40px;
        }
    }
    .dateTime {
        border: none;
        @include font-size(12);
        margin-top: 1em;
    }
}
.family-login {
    margin-top: 1.75em;
}
@include breakpoint(medium) {
    .family-login {
        float: right;
    }
}
.attendance-logout {
    float: right;
    a, a:link {
        color: #fff;
        text-decoration: none;
    }
}

// Keep numerical attendance data together on small screens

.numerical-data {
    clear: both;
    @include breakpoint(medium) {
        clear: none;
        margin-left: $doublecol-leftcol + 45px;
    }
}


// Table styling for attendance data

.content-table {
    th, td {
        text-align: center;
        padding: 0.8em 0.8em 0.25em 0.8em;
        background-color: transparent;
    }
    tr:nth-child(even) {
        background-color: transparent;
    }
    td {
        a, a:link {
            color: $edu-link;
            font-weight: 600;
            border-bottom: solid 0.1rem $edu-link;
        }
        a:focus, a:hover {
            background-color: black;
            color: #fff;
        }
    }
    input, select {
        &[type=text] {
            width: 5.5em;
        }
        &:focus, &:hover {
            background-color: $input-focus;
        }
        &[disabled]:focus, &[disabled]:hover {
            background-color: $input-disabled;
        }
    }    
    .btn-small {
        margin-right: 0;
        white-space: nowrap;
    }

    caption {
        text-align: left;
        letter-spacing: -0.1rem;
        @include breakpoint(tiny) {
            @include font-size(12);
        }
        @include breakpoint(small) {
            @include font-size(14);
        }
        @include breakpoint(medium) {
            @include font-size(18);
        }
        @include breakpoint(large) { 
            @include font-size(20);
        }
    }
    .left {
        text-align: left;
    }
    tfoot td {
        padding: 1em 0 0 0;
    }
    p button {
        margin: 0;
    }
}


// Filters for refining attendance data

.attendance-filter {
    @include breakpoint(medium) {
        display: block;
        float: left;
        width: 22%;
        padding: 2em 0 2em 1em;
    }
    h2 {
        margin: 0.5em 0;
        @include breakpoint(tiny) {
            @include font-size(10);
        }
        @include breakpoint(small) {
            @include font-size(11);
        }
        @include breakpoint(medium) {
            @include font-size(12);
        }
        @include breakpoint(large) { 
            @include font-size(14);
        }
    }
    input, select {
        width: 100%;
        max-width: $form-max-width;
        display: block;
        padding: 0.3em;
        @include border-radius(3px);
        border: 1px solid #bbbbbb;
        &:focus, &:hover {
            background-color: $input-focus;
        }
    }
    legend {
        letter-spacing: -0.1rem;
        margin-top: 0.5em;
        @include breakpoint(tiny) {
            @include font-size(10);
        }
        @include breakpoint(small) {
            @include font-size(11);
        }
        @include breakpoint(medium) {
            @include font-size(12);
        }
        @include breakpoint(large) { 
            @include font-size(14);
        }
    }
}


// Family screen size overrides to emulate kiosk UI

body.kiosk {
    background: $edu-gray-dark url(../img/bg-curves.png) no-repeat 50% 0;
    nav {
        padding: 0 0 0 1em;
        line-height: 2rem;
        display: inline-block;
        a, a:link {
            color: #999;
            border-color: #999;
        }
    }
    @include breakpoint(medium) {
        nav {
            float: right;
            padding: 0.15em 0 0 0;
        }
    }
    main {
        @include breakpoint(medium) {
            padding: 0;
            background: transparent;
        }
        .wrapper {
            padding: 0;
        }
        legend {
            letter-spacing: -0.1rem;
            margin-top: 0.5em;
            @include breakpoint(tiny) {
                @include font-size(12);
            }
            @include breakpoint(small) {
                @include font-size(16);
            }
            @include breakpoint(medium) {
                @include font-size(20);
            }
            @include breakpoint(large) { 
                @include font-size(22);
            }
        }
        input, label {
            @include breakpoint(tiny) {
                @include font-size(10);
            }
            @include breakpoint(small) {
                @include font-size(12);
            }
            @include breakpoint(medium) {
                @include font-size(14);
            }
            @include breakpoint(large) { 
                @include font-size(16);
            }
        }
        input {
            padding: 0.3em 0 0.3em 0.3em;
            @include border-radius(3px);
            border: 1px solid #bbbbbb;
            &:focus, &:hover {
                background-color: $input-focus;
                outline: none;
            }
            &[disabled]:focus, &[disabled]:hover {
                background-color: $input-disabled;
            }
        }   
        button {
            margin: 1em 0.5em 0 0;
        } 
        .form--family {
            background-color: #eee;
            @include border-radius(6px);
            padding: 2em 1em 1em 2em;
        }
    }
}


// Footer override

footer[role=contentinfo] {
    background-color: $edu-light-bg;
    border-top: 6px solid #666;
}


// Confirmation cards

.card--family {    
    width: 100%;
    position: relative;

    .card--date {
        text-transform: uppercase;
        p {
            @include breakpoint(tiny) {
                @include font-size(8);
            }
            @include breakpoint(small) {
                @include font-size(9);
            }
            @include breakpoint(medium) {
                @include font-size(11);
            }
            @include breakpoint(large) { 
                @include font-size(12);
            }
            strong {
                @include font-size(18);
            }
        }     
        .card--time {
            margin-top: 0;
        }
    }
    .card--details {
        padding: 0 1em 0 0;
        legend {
            margin-bottom: 0.5em;
        }
        p.confirmation-message {
            @include font-size(10);
            @include breakpoint(small) {
                @include font-size(11);
            }
            @include breakpoint(medium) {
                @include font-size(12);
            }
        }
        img {
            vertical-align: middle;
            margin-right: 0.25em;
        }
    }
}
@include breakpoint(medium) {
    .card--family {    
        padding: 2.5em 1em 2em 0 !important;
        display: table;

        .card--row {
            display: table-row;
        }

        .card--date {
            border-left: 1px solid #ccc; 
            display: table-cell;
            text-align: center;
            width: 20%;
            .card--time {
                margin-top: 0;
                padding: 0;
                span {
                    display: block;
                    clear: both;
                }
            }
        }
        .card--details {
            display: table-cell;
            padding: 0 1em 0 3em;
            width: 80%;
        }
    }
}


// Styling for solution overrides

// Override form wrapping login details top right
.inline-form {
    display: inline;
    position: absolute;
    right: 0;
    top: 40px;
}


// Fade in transition

@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

.fade-in {
  opacity:0;  /* make things invisible upon start */
  -webkit-animation:fadeIn ease-in 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
  -moz-animation:fadeIn ease-in 1;
  animation:fadeIn ease-in 1;

  -webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
  -moz-animation-fill-mode:forwards;
  animation-fill-mode:forwards;

  -webkit-animation-duration:.5s;
  -moz-animation-duration:.5s;
  animation-duration:.5s;
}